<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>create-task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        h1{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        }
  </style>
</head>
<body>
<p>
    <header th:insert = " parts/header :: header"></header>


<h1>
Create New Task

</h1>
Name: <input type="text" name="TaskName" class="form-control"required><br>

<div>Priority:<select class="form-select">
<option value>Low</option>
<option>Medium</option>
    <option>High</option>
</select>
</div>
<a class="btn btn-outline-primary" >Create</a>
<a class="btn btn-outline-primary" >Clear</a>

</p>
</body>
</html>